/* ---- Filter---- */
#filtersks{
  clear: both;
  text-align: center;
  margin-bottom: 15px;
}

#filtersks li {
   display: inline;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: "josefin sans",sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 21px;
    text-transform: uppercase;
    width: auto;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

#filtersks li a {
    text-decoration: none;
}

#filtersks li a:hover, #filtersks li a.selected {
    border: none;
    border-bottom: 2px solid #333!important;
    color: #de1f13;
}

@media only screen and (max-width: 880px) {
 
#filtersks {
  margin: 0 auto;
}

 #filtersks li a:hover, #filtersks li a.selected {
    border: 2px solid #000000;
    padding: 1px;
    margin: 0 auto;
}



}

/* ---- grid ---- */

#isotope-list {

  margin: 0 auto; /* centered */
  margin-top: 5px;
}

/* clear fix */
#isotope-list:after {
  content: '';
  display: block;
  clear: both;
}


.item 
 {
  width: 32%;
}

/* ---- .grid-item ---- */

.item {
  float: left;
  height: auto;
  width: auto
  background: #0D8;
padding: 0.25%;
  margin-left: 1%;
  margin-bottom: 1%;
}

#isotope-list > div a > img:hover {
        transform: scale(1.09);
    -moz-transform: scale(1.09);
    -webkit-transform: scale(1.09);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    opacity: 0.2;
   
}

#isotope-list  div h4 {
      white-space: pre-wrap;
    position: relative;
    z-index: 9;
    top: 60px;
    left: 15px;
    padding-right: 10px;
    

}

@media only screen and (max-width: 880px) {
 .item 
 {
  width: 48%;
}



@media screen and (max-width: 450px)  {
 .item 
 {
  width: 98%;
}

